*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('Images/background.png');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header img{
    width: 130px;
    height: 130px;
}